html {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}



/* NAVIGATION */

.main{
   position: relative;
}

nav {
    position: sticky;
    top: 40px;
    right: 40px;
}

ul {
    list-style-type: none;
    float: right;
    padding: 40px;
    
  }
  
  li {
    
    background-color: white;
    font-size: 24px;
    font-weight: 600;
    border-radius: 50%;
    padding: 15px;
    display: inline;
    

  }
  
  li a {

    text-align: center;
    text-decoration: none;
    color: black;
    z-index: 18;
    position: sticky;
    padding: 15px;
  }


/* SEZIONI */

h1{
text-align: center;


}

.sezione {
    height: 100vh;
    width: 100%;


}

.container {
    width: 850px;
    height: 750px;
    min-width: max-content;
    margin-left: 50vh;
    position: absolute;
    display: ;

}

img {
    min-width: 100%;
    
    
}

img h1 {

}

.bred {
    background-color: #FF0000; 
}

.bgreen {
    background-color: #008000;
}

.byellow {
    background-color: #ffff00;
}

.yellow {
    color: #ffff00;
}

.green {
    color: #008000;
}










/* 
 DEBUG 

.debug nav ul li {
    border: 2px solid black;
}

.debug section {
    border: 2px dashed black;
}
.debug .container{
    border: 2px dashed black;
} */